@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.primary-color{
    color:  rgba(255, 144, 14, 1);
}

/* Color section */

.dark-1-font-color{
    color: rgba(19, 19, 19, 1);
}

.dark-2-font-color{
    color: rgba(66, 66, 66, 1);
}
.dark-3-font-color{
    color: rgba(114, 114, 114, 1);
}

/* Header navigation Section Style */

.header-section{
    
}
.nav-section{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.nav-left-logo{
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-right-navigation{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}
.nav-right-navigation a{
    text-decoration: none;
}

/* Header Banner section style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-container{
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-bg{
    width: 100%;
    margin-top: 50px;
}
/* main section */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}


/* feature section style */

.features{
    display: flex;
    align-items: center;
}
.features-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}
.features-details{
    max-width: 530px;
    margin-left: 130px;
}
.features-title{
    font-size: 2.8rem;
}

/* love  */
.love-enjoy{
    display: flex;
    gap: 140px;
}

#bar{
    border-left: 5px solid  rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.love-enjoy-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.love-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;

    
}
.love-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;   
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.facts-title{

}
.fact-desc{
    max-width: 540px;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    margin-top: 100px;
}
.facts-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-details{
     font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}
.sponson-brands{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 76px;
    filter: grayscale(100%);
    margin-bottom: 100px;
}
.footer-section{
    background-color: rgba(255, 144, 14, 0.1) ;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    
}
.footer-desc{
    padding-top: 50px;
    padding-bottom: 27px;
}
